<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">FP</h1>
    <p class="lead">Farmácia Popular</p>
  </div>
  <a href="http://localhost:3000/pharmacies">Farmácias</a>
</div>
